#beta {
    float: left;
}

#controls {
    padding: 2px;
    margin: 5px;
    border: 3px double black;
}

#cpucontrol {
    float: left;
}

#romcontrol {
    float: right;
}

#registers {
    font-family: mono;
    float: left;
    padding: 2em;
}

#PC {
    text-align: center;
}

#regtab {
    margin: auto;
    border-collapse: collapse;
}

#regtab td, #regtab th {
    border: 1px solid black;
}

#regtab th {
    padding-left: 1em;
}

#memcol {
    float: right;
}

#memory {
    border: 1px solid black;
    overflow-y: scroll;
    height: 90%;
}


#rightcol h3 {
    margin: 0px;
    text-align: center;
}