#beta {
    float: left;
}

#controls {
    padding: 2px;
    margin: 5px;
    border: 3px double black;
}

#rightcol {
    float: right;
}

#cpucontrol {
    float: left;
}

#romcontrol {
    float: right;
}

#PC {
    text-align: center;
    font-family: mono;
}
